
@import './variables';
.fancy-btn {
    /* height: 40px; */
    display: inline-block;
    /* width: 200px; */
    position: relative;
    background-color: transparent;
    border: 2px solid #cecece;
    color: $white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    /* line-height: 36px; */
    -webkit-transition: all .2s;
    transition: all .2s;
    outline: none;
}
.fancy-btn:hover::before {
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    background: linear-gradient(65deg,#5BB12F,transparent,#5BB12F);
    background-size: 100%;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: 1;
    background-size: 200%;
    -webkit-animation: rotateGradient 5s linear infinite;
    animation: rotateGradient 5s linear infinite;
}
.fancy-btn:hover::before{
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    background: linear-gradient(65deg,#5BB12F,transparent,#5BB12F);
    background-size: 100%;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: 1;
    background-size: 200%;
    -webkit-animation: rotateGradient 5s linear infinite;
    animation: rotateGradient 5s linear infinite;
}

@-webkit-keyframes rotateGradient{
    0%{
        background-position:0 0
    }
    50%{
        background-position:200% 0
    }
    to{
        background-position:0 0
    }
}
@keyframes rotateGradient{
    0%{
        background-position:0 0
    }
    50%{
        background-position:200% 0
    }
    to{
        background-position:0 0
    }
}

.my-btn-primary {
    background: -webkit-gradient(linear, left top, right top, from(#da8cff), to($primaryColor));
    background: linear-gradient(to right, #da8cff, $primaryColor);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; 
    &:hover {
        opacity: .8;
    }
}
.my-btn {
    display: inline-block;
    font-weight: 400;
    color: $white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.875rem 2.5rem;
    font-size: 0.875rem;
    line-height: 1;
    border-radius: 0.1875rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.cancel-btn {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    &:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }
}