// Default margin css 
.m-0 {
    margin: 0px !important;
}
.m-4 {
    margin: 8px !important;
}
.m-8 {
    margin: 8px !important;
}
.m-12 {
    margin: 12px !important;
}
.m-16 {
    margin: 16px !important;
}
.m-20 {
    margin: 20px !important;
}

.m-24 {
    margin: 24px !important;
}
.m-28 {
    margin: 28px !important;
}
.m-32 {
    margin: 32px !important;
}

// Margin top

.m-t-0 {
    margin-top: 0px !important;
}
.m-t-4 {
    margin-top: 8px !important;
}
.m-t-8 {
    margin-top: 8px !important;
}
.m-t-12 {
    margin-top: 12px !important;
}
.m-t-16 {
    margin-top: 16px !important;
}
.m-t-20 {
    margin-top: 20px !important;
}

.m-t-24 {
    margin-top: 24px !important;
}
.m-t-28 {
    margin-top: 28px !important;
}
.m-t-32 {
    margin-top: 32px !important;
}

// Margin-right 
.m-r-0 {
    margin-right: 0px !important;
}
.m-r-4 {
    margin-right: 8px !important;
}
.m-r-8 {
    margin-right: 8px !important;
}
.m-r-12 {
    margin-right: 12px !important;
}
.m-r-16 {
    margin-right: 16px !important;
}
.m-r-20 {
    margin-right: 20px !important;
}

.m-r-24 {
    margin-right: 24px !important;
}
.m-r-28 {
    margin-right: 28px !important;
}
.m-r-32 {
    margin-right: 32px !important;
}

// margin left
.m-l-0 {
    margin-left: 0px !important;
}
.m-l-4 {
    margin-left: 8px !important;
}
.m-l-8 {
    margin-left: 8px !important;
}
.m-l-12 {
    margin-left: 12px !important;
}
.m-l-16 {
    margin-left: 16px !important;
}
.m-l-20 {
    margin-left: 20px !important;
}

.m-l-24 {
    margin-left: 24px !important;
}
.m-l-28 {
    margin-left: 28px !important;
}
.m-l-32 {
    margin-left: 32px !important;
}

// Margin bottom

.m-b-0 {
    margin-bottom: 0px !important;
}
.m-b-4 {
    margin-bottom: 8px !important;
}
.m-b-8 {
    margin-bottom: 8px !important;
}
.m-b-12 {
    margin-bottom: 12px !important;
}
.m-b-16 {
    margin-bottom: 16px !important;
}
.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-24 {
    margin-bottom: 24px !important;
}
.m-b-28 {
    margin-bottom: 28px !important;
}
.m-b-32 {
    margin-bottom: 32px !important;
}
