// Default padding css 
.p-0 {
    padding: 0px !important;
}
.p-4 {
    padding: 8px !important;
}
.p-8 {
    padding: 8px !important;
}
.p-12 {
    padding: 12px !important;
}
.p-16 {
    padding: 16px !important;
}
.p-20 {
    padding: 20px !important;
}

.p-24 {
    padding: 24px !important;
}
.p-28 {
    padding: 28px !important;
}
.p-32 {
    padding: 32px !important;
}

// padding top

.p-t-0 {
    padding-top: 0px !important;
}
.p-t-4 {
    padding-top: 8px !important;
}
.p-t-8 {
    padding-top: 8px !important;
}
.p-t-12 {
    padding-top: 12px !important;
}
.p-t-16 {
    padding-top: 16px !important;
}
.p-t-20 {
    padding-top: 20px !important;
}

.p-t-24 {
    padding-top: 24px !important;
}
.p-t-28 {
    padding-top: 28px !important;
}
.p-t-32 {
    padding-top: 32px !important;
}

// padding-right 
.p-r-0 {
    padding-right: 0px !important;
}
.p-r-4 {
    padding-right: 8px !important;
}
.p-r-8 {
    padding-right: 8px !important;
}
.p-r-12 {
    padding-right: 12px !important;
}
.p-r-16 {
    padding-right: 16px !important;
}
.p-r-20 {
    padding-right: 20px !important;
}

.p-r-24 {
    padding-right: 24px !important;
}
.p-r-28 {
    padding-right: 28px !important;
}
.p-r-32 {
    padding-right: 32px !important;
}

// padding left
.p-l-0 {
    padding-left: 0px !important;
}
.p-l-4 {
    padding-left: 8px !important;
}
.p-l-8 {
    padding-left: 8px !important;
}
.p-l-12 {
    padding-left: 12px !important;
}
.p-l-16 {
    padding-left: 16px !important;
}
.p-l-20 {
    padding-left: 20px !important;
}

.p-l-24 {
    padding-left: 24px !important;
}
.p-l-28 {
    padding-left: 28px !important;
}
.p-l-32 {
    padding-left: 32px !important;
}

// padding bottom

.p-b-0 {
    padding-bottom: 0px !important;
}
.p-b-4 {
    padding-bottom: 8px !important;
}
.p-b-8 {
    padding-bottom: 8px !important;
}
.p-b-12 {
    padding-bottom: 12px !important;
}
.p-b-16 {
    padding-bottom: 16px !important;
}
.p-b-20 {
    padding-bottom: 20px !important;
}

.p-b-24 {
    padding-bottom: 24px !important;
}
.p-b-28 {
    padding-bottom: 28px !important;
}
.p-b-32 {
    padding-bottom: 32px !important;
}
