$white: #fff;
$black: #000;
$primaryColor: #9a55ff;
$brandPrimaryColor: #2a0a0a;
$brandSecondaryColor: #f21b3f;
$primaryHover: #9a55ff1a;
$mainBgColor: #f2edf3;
$showColor: #001f43;
$errorColor: #dc3545;
