<div class="login-page">
    <div class="login-page__overlay row m-0">
            <div class="col-sm-6 text-sm-center d-flex login-page__left animated bounceInLeft">
                Login Description
            </div>
            <div class="col-sm-6 d-flex login-page__right">
                <form  [formGroup]="loginForm">
                    <div class="login-page__form card m-r-32 animated bounceInDown">
                        <h3 class="login-page-header text-center">
                            Login
                        </h3>
                        <div class="login-page__form-group">
                            <label> User Name</label>
                            <input type="text" class="form-control" formControlName="userName" placeholder="Enter your user name"/>
                        </div>
                        <div class="login-page__form-group">
                            <label> Password</label>
                            <input type="password" class="form-control" formControlName="password" placeholder="Enter your password"/>
                        </div>
                        <div class="m-t-28 text-center">
                            <button type="button" (click)="login()" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>