
@font-face {
    font-family: "myFontsMedium";
    src: url("assets/fonts/Ubuntu-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "myFontsBold";
    src: url("assets/fonts/Ubuntu-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "myFontsLight";
    src: url("assets/fonts/Ubuntu-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "myFontsRegular";
    src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'myFontsRegular' !important;
}
.opacity-0 {
    opacity: 0;
}
.opacity-5 {
    opacity: 0.5;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #9a55ff !important;
}
a {
    color: #9a55ff !important;
}

@import 'assets/scss/normalize.scss';
@import 'assets/scss/bootstrap.min';
@import 'assets/scss/card';
@import 'assets/scss/mixins';
@import 'assets/scss/buttons';
@import 'assets/scss/margins';
@import 'assets/scss/paddings';
@import 'assets/scss/animated';
@import 'assets/scss/typography';
