
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$appoinement-admin-primary: mat-palette($mat-indigo);
$appoinement-admin-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$appoinement-admin-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$appoinement-admin-theme: mat-light-theme($appoinement-admin-primary, $appoinement-admin-accent, $appoinement-admin-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($appoinement-admin-theme);



@font-face {
    font-family: "myFontsMedium";
    src: url("assets/fonts/Ubuntu-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "myFontsBold";
    src: url("assets/fonts/Ubuntu-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "myFontsLight";
    src: url("assets/fonts/Ubuntu-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "myFontsRegular";
    src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@import 'assets/scss/normalize.scss';
@import 'assets/scss/bootstrap.min';
@import 'assets/scss/card';
@import 'assets/scss/mixins';
@import 'assets/scss/buttons';
@import 'assets/scss/margins';
@import 'assets/scss/paddings';
@import 'assets/scss/animated';
@import 'assets/scss/typography';
@import 'assets/scss/table';
@import "~@ng-select/ng-select/themes/default.theme.css";
body{
    max-width: 1440px;
    margin: 0 auto;
}

.primary-color {
    color: $primaryColor;
}
.white-color {
    color: #fff;
}

body {
    font-family: 'myFontsRegular' !important;
    margin: 0;
}
.f-r {
    font-family: 'myFontsRegular' !important;
}
.f-m {
    font-family: 'myFontsMedium' !important;
}
.f-l {
    font-family: 'myFontsLight' !important;
}
.f-b {
    font-family: 'myFontsBold' !important;
}
.opacity-0 {
    opacity: 0;
}
.opacity-5 {
    opacity: 0.5;
}
.pointer {
    cursor: pointer;
}
.custom-control-label::before {
    border: 1px solid $primaryColor;
    background-color: transparent !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primaryColor !important;
}
a {
    color: $primaryColor !important;
}

// Brand 
.brand {
    font-weight: 800;
    font-size: 28px;
    &__primary {
        color: $brandPrimaryColor !important;
    }
    &__secondary {
        color: $brandSecondaryColor !important;
    }

}
.content-wrapper {
    background: $mainBgColor;
    min-height: 100vh;
    padding: 1.5rem;
}
html, body { height: 100%; }

